@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c7bba4;
    font-family: 'Roboto', sans-serif;
}

.calculator {
    width: 35rem;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    padding: 3px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.display {
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    background: #65a7dd;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid;
    font-size: 2.5rem;
    padding: 0 1rem;
    overflow-x: auto;
}

.score {
    font-size: 3rem;
    color: darkgreen;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 0;
    gap: 2px;
}

@media(max-width:750px) {
    .calculator {
        width: 25rem;
    }

    .display {
        font-size: 2rem;
        height: 8rem;
    }

    .score {
        font-size: 2rem;
    }

    .container button {
        font-size: 0.5rem;
    }
}

@media(max-width:550px) {
    .calculator {
        width: 20rem;
    }

    .display {
        font-size: 2rem;
        height: 8rem;
    }

    .score {
        font-size: 2rem;
    }

    .container button {
        font-size: 0.5rem;
        width: 0.8rem;
    }

}